<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Join Page</title>
</head>
<body>
<h1>Join Page</h1>
<form action="/join", method="post">
  <input type="email" name="email" placeholder="Email"/>
  <input type="text" name="username" placeholder="Username"/>
  <input type="password" name="password" placeholder="Password"/>
  <button>회원가입</button>
</form>
</body>
</html>